.entry-con {
    max-width: 1000vh;
    padding-bottom: 50px; /* Ensure there's space for the .entry-info element */
}

.entry-info {
    position: absolute;
    bottom: 0;
    right: 0;
    color: coral;
}
