/* Navbar.css */
body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 2rem;
    background-color: coral;
    color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: whitesmoke;
    color: whitesmoke;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 16vh;
}

.navbar-logo {
    height: 40px;
    margin-right: 1rem;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.navbar-link {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.navbar-link:hover {
    opacity: 0.8;
}

.navbar-button {
    background-color: whitesmoke;
    color: coral;
    border-radius: 4px;
    padding: 1vh 1.5vh;
    align-self: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: small;
    width: 100%;
    height: 100%;
}

.navbar-button:hover {
    background-color: #f8f8f8;
    color: #ff6f61;
    opacity: 1;
}