.sidenav {
    width: 30vh;
    height: 100vh;
    margin-left: 22vh;
}

.heading {
    font-size: 20px;
    font-family: inherit;
    padding-bottom: 5px;
    align-self: self-start;
}

.linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.linkItem {
    color: coral;
}

.link {
    display: block;
    padding: 14px 4px;
    color: coral;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 15px;
}

.linkItem:hover{
    background-color: #f1bcaa;
}