/* TextForm.css */
.entry-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.text-input {
    width: 130%;
    height: 12vh;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 7px;
}

.submit-button {
    align-self: flex-start;
    background-color: coral;
    color: whitesmoke;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: orangered;
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}